textarea::placeholder {
  font-family: "Times New Roman";
  font-size: 50px;
}

textarea::placeholder {
    font-family: "Times New Roman";
    font-size: 50px;
  }
  .contactHeader{
    background-color:#FE8F8F;
  }