.div_outer {
  background-image: url('');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: #f0d9ff; */
  background-color: #FCD2D1;
  backface-visibility: hidden;
}

.inner_content {
  margin: 0px 100px;
  background-color: #FCD2D1;
  padding: 20px 0;
}
/* .image img {
  width: 400px;
  height: 350px;
  float: right;
  border-radius: 50%;
} */

.list ul li {
  font-size: 20px;
}
.getAQuoteBtn {
  color: white;
  background-color: #FF5C58;
  text-decoration: none;
  line-height: 1.75;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 50rem;
}
/* .logo{
    display: flex;
    justify-content: center;
  }
  .logo ol{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 50%;
    overflow: hidden;
    align-self: flex-end;
  } */

.inner_content a {
  color: rgb(18, 172, 146);
}
