.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f3f1f5;
  opacity: 2;
  transition: transform 0.2s;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 0px;
  width:100%;
}
.navbar:hover {
  opacity: 1;
}
#navbar-brand{
font-size:40px;
font-weight: 600;
color: black;
padding-bottom: 15px;
}
#collasible-nav-dropdown{
  color: black;
}
#navbar-container{
  font-size: 20px;
  padding-right: 40px;
  transition: transform 0.2s ease-in;
  background-color: rgb(248, 248, 248);
}
/* #navbar-container:hover {
  cursor: pointer;
  transform: scale(1.1); 
}*/
#toggler {
background-color: black;
}