.div_outer {
  background-image: url('');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #FCD2D1;
  backface-visibility: hidden;
}

.inner_content {
  margin: 0px 100px;
  background-color: #FCD2D1;
  padding: 20px 0;
}

.list ul li {
  font-size: 20px;
}
.getAQuoteBtn {
  color: white;
  background-color: #FF5C58;
  text-decoration: none;
  line-height: 1.75;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 50rem;
}
.inner_content a {
  color: rgb(18, 172, 146);
}
