h1{
    text-align: center;
}
h2{
margin-left: 50px;


}
table,tr,th,td{
    border: 1px solid black;

}
table{
    width: 90%;
    border-collapse: collapse;
    margin-left: 50px;
    margin-bottom: 50px;
}
tr{
    height: 50px;
}
td{
    text-align: center;
}
#btn{
    
    position: relative;
    left: 78%;
    font-size: 16px;
    padding: 15px 32px;
    cursor: pointer;
}