.cards {
  margin: 20px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.css-1xez8po-MuiPaper-root-MuiCard-root.innerDiv {
  display: inline-block;
  width: 35%;
  height: 400px;
  margin: 16px 0;
  border-radius: 8px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.bt:hover {
  display: block;
  color: rgb(112, 157, 163);
}
