.footer{
    bottom: 0%;
    width: 100%;
  
  }

  
  .footer .logo{
    position: relative;
background-color:lightgrey;
    height: 20vh;
    /* top: 100px; */
    /* background: #000; */
    left: 50%;
    transform: translate(-50%);
  }
  
  .footer .details{
    text-align: center;
    /* position: relative; */
    background-color: #FFEDD3;
    color: rgb(12, 12, 12);
    height: 20vh;
    top: 100px;
    font-size: 15px;
    padding: 10px;
  
  }
  
  .footer .logo ul li{
    display: inline-block;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  
  .logo ul li{
    background-color: rgb(62, 69, 73);
    border-radius: 50%;
  }
  .logo ul li a{
    color: rgb(255, 255, 255);
  }
  
  
  .logo_list{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-30%);
    /* background: #000; */
  }
  
  .logo_list li{
    transition: transform 0.2s;
  }
  .logo_list li:hover{
    cursor: pointer;
    transform: scale(1.1);
  }

  .details a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(9, 56, 54);
  }
  .details a:hover{
    color: white;
    text-decoration: underline;
  }